.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 60px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  max-width: 300px;
}
.pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 7px;
}

.overlayText {
  position: absolute;
  background-color: rgba(24, 40, 58, 0.5);
  border-radius: 7px;
  padding: 5px 15px;
  text-align: center;
  margin: 10%;
  overflow: hidden;
  transition: opacity 0.3s;
}
.pic:hover ~ .overlayText,
.overlayText:hover {
  opacity: 0;
}
.overlayText:hover ~ .overlayCountdown {
  opacity: 1;
}
.pic:hover ~ .overlayCountdown,
.overlayCountdown:hover {
  opacity: 1;
}
.title {
  margin: 5px;
}