.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  justify-content: center;
  color: #455954;
  text-align: center;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dfdbd8;
  max-width: 300px;
  margin: 5vw;
}
.pic {
  width: 300px;
  height: 300px;
  object-fit: fill;
  border-radius: 7px;
  margin: 10px
  
}

.overlayText {
  position: absolute;
  background-color: rgba(24, 40, 58, 0.5);
  border-radius: 7px;
  padding: 5px 15px;
  text-align: center;
  margin: 10%;
  overflow: hidden;
  transition: opacity 0.3s;
}
.pic:hover ~ .overlayText,
.overlayText:hover {
  opacity: 0;
}
.overlayText:hover ~ .overlayCountdown {
  opacity: 1;
}
.pic:hover ~ .overlayCountdown,
.overlayCountdown:hover {
  opacity: 1;
}



@media only screen and (max-width: 600px) {

  .pic{
  width: max(30vw, 300px);
  border-radius: 15px;
  box-shadow: #dfdbd8 0px 0px 10px 0px;
  }
  .title {
    font-size: 10px;
  }
}

.title {
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #dfdbd8;
  background-color: #455954;
}